[submodule "backend"]
	path = backend
	url = https://github.com/AhmedWael97/backend.git
	branch = main

[submodule "frontend"]
	path = frontend
	url = https://github.com/AhmedWael97/frontend.git
	branch = master
